<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In Progress</title>
    <!-- Link to CSS File -->
    <link href="static/IS.UI_V1.css" type="text/css" rel="stylesheet">

    <articletop>
        Custom College Search <span style="color:mediumseagreen;">(v1.0)</span>
         <br />
    </articletop>

</head>
<body>
<span style="accent-color:mediumseagreen">
<br/>
<b> In progress</b>............<br/><br/>
    <form action="/results">
        <article1-2>
            <br />

            <!--Choice of Top 10 or Top 20 -->
            Top 10
            <input type="radio" value="ten" name="z">
            Top 20
            <input type="radio" value="twenty" name="z">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            Click Here ->
            <button>Complete</button>
        </article1-2>
    </form>
</span>
</body>
</html>